.header{
  font-size: 45px;
background-color: grey;
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  text-align: center;
padding: 200px;

}

.header h1{
  font-size: 60px;
}

.jumbotron {
  box-shadow: 1px 1px 1px #888888;
  font-family: 'Bree Serif', serif;
}

#instructions{
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 17px;
  background-color: darkgreen;
  min-height: 100vh;
width: 100%;
}

#instructions h2{
  font-size: 35px;
  font-family: cursive;
  color:white;
  text-decoration: overline;
  text-decoration: underline;
}

#instructions p{
  font-size: 35px;
  font-family: cursive;
}

body{
background-color: grey;
}

#main{
  background-color: pink;
}

#main ol{
  font-size: 25px;
    font-family:monospace;
}

#main h4{
  font-size: 45px;
  text-decoration: underline;
    font-family: cursive;
}

.container{
  display: flex;
  flex-direction: row;

}

.form{
  background-color: black;
  width: 50%;
  text-align: center;
  font-size: 45px;
  font-family: cursive;
}
