.header{
  font-size: 60px;
background-color: grey;
  font-family: cursive;
  text-align: center;
padding: 200px;

}

.jumbotron {
  box-shadow: 1px 1px 1px #888888;
  font-family: 'Bree Serif', serif;
}

#instructions{
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 17px;
  background-color: darkgreen;
  min-height: 100vh;

}

#instructions h2{
  font-size: 35px;
  font-family: cursive;
}

#instructions p{
  font-size: 35px;
  font-family: cursive;
}

body{
background-color: grey;
}

#main{
  background-color: pink;
}
